body{
    background-color:#DFF5FF;
    ul{
      list-style-type:none;
      margin:0;
      padding:0;
  }
  
  li{
      float:right;
  }
  
  a{
      display:block;
      padding:5px;
      text-decoration:none;
  }
}
h1{
        text-align:center;
    }

   button[type=button]{
    background-color: #4cAf50;
    
   }

   
img {
  width: 30px;
  height: 30px;
  padding-top: 5px;
}

.div2 {
  
  width: 400px;
  height: 400px;
  border: 2px solid rgb(0, 0, 0);
  position: absolute;
  margin-left: 600px;
  margin-bottom: 900;

 
  
}


input[type=submit] {
  width: 30%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #69ee67;
}

nav :hover {
  background-color: #ee8467;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;
  border-radius: 4px;
  
}


/* footer styling */
#footer {
  margin-top: 80PX;
  text-align: center;
 
}
